.App{
  padding:0%;
  background: rgb(255 250 250);;
}
.gridMovie{
  display: grid;
}
.movieCard{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 5px 9px 25px rgb(47 79 79);;
}

.movieList_Add{
  display: flex;
  justify-content: space-evenly;
}
.Lfilms
{
  margin: 15%;
  padding: auto;
  width: 100%;
}

.App-link {
  color: #61dafb;
}
.bn
{
  margin-left: 30%;
}
